.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Button-Bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height:50px;
  width:50px;
}

.Div-Margin {
  margin-top: 10px;
}

.Post-Content {
  text-align: left;
}

.Post-Detail {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.Post-Inline {
  display:inline-block;
}

.Post-Vote {
  display:inline-block;
  width:50px;
}

#Post-Vote * {
  margin:5px;
}
